<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>House Data Entry</title>
</head>
<body>
<h1>Housing Information Entry Form</h1>

      <form action = "http://localhost:5000/result" method = "POST">
         <p>Address <input type = "text" name = "address" /></p>
         <p>City <input type = "text" name = "city" /></p>
         <p>State <input type = "text" name = "state" /></p>
         <p>Zip <input type ="text" name = "zip" /></p>
		 <p>Sq. Feet <input type ="text" name = "sq_feet" /></p>
		 <p>Lot Size <input type ="text" name = "lot_size" /></p>
		 <p>Year of Construction <input type ="text" name = "year_built" /></p>
		 <p>No. of Bedrooms <input type ="text" name = "bedrooms" /></p>
		 <p>No. of Bathrooms <input type ="text" name = "bathrooms" /></p>
		 <p>Sale Price <input type ="text" name = "sale_price" /></p>
         <p><input type = "submit" value = "Submit" /></p>
      </form>

</body>
</html>
