<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>House Data Entry Homepage</title>
</head>
<body>

<h1>Welcome to the Housing Price Data Entry and Predictor Tool</h1>
<br>
<div>
	<h2>To enter new housing data, please click here:&nbsp <button onclick="location.href = '/data_entry';" id="dataEntryButton" class="float-left submit-button" >Data Entry</button></h2>
</div>

<br><br>


<div>
	<h2>To predict the price of a house, please click here:&nbsp <button onclick="location.href = '/predict_data_entry';" id="dataEntryButton" class="float-left submit-button" >Price Predictor</button></h2>
</div>



</body>
</html>
